.function-input {
    font-size: 50px;
    color: #252525;
}

.function-icon {
    font-size: 50px;
}

mat-form-field {
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.function-list {
    text-align: center;
    margin-top: 20px;
}

.item-function {
    font-size: 38px;
    font-weight: 100;
    margin: 0px 0px;
    letter-spacing: 10px;
}

.item-icon {
    position: relative;
    top: 27px;
    left: -34px;
    width: 0px;
    height: 0px;
    margin: -15px;
}