<mat-card>
    <mat-card-content class="container">
        <h1 class="title">Parenthesis Matching</h1>

        <mat-form-field appearance="outline">
            <input matInput disabled [(ngModel)]="functionSelected" class="function-input">
            <button mat-icon-button matSuffix mat-stroked-button aria-label="search" style="background-color: #3f51b5; color: #fff;" (click)="getRandomFunction()">
                <mat-icon>refresh</mat-icon>
            </button>
        </mat-form-field>
        <div class="text-center">
            <button class="big-button" mat-raised-button color="accent" (click)="checkFunction()">Check!</button>
        </div>

    </mat-card-content>
    <br>
    <div class="function-list">
        <p>
            <span *ngFor="let item of functionArray" class="item-function" [ngStyle]="{'color': item.color }">
                {{item.value}}
                <mat-icon *ngIf="item.active" class="item-icon" aria-hidden="false" >expand_less</mat-icon>
            </span>
        </p>
    </div>

</mat-card>