table {
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

mat-form-field {
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.grid-values {
    width: 70vh;
    margin: auto;
}

.grid-values-card {
    width: 50%;
    height: 50%;
}

.grid-values-card-value {
    font-weight: 400;
    font-size: 30px;
}

.grid-values-card-position {
    position: absolute;
    bottom: 4px;
    left: 4px;
    color: #a7a7a7;
}

.block {
    background-color: #e4e4e4;
}

.active {
    background-color: #ff4081;
    color: #fff;
}

.waiting {
    background-color: #fff;
}

.selected {}

.start {
    background-color: #c3c3c3;
}

.icon-help {
    background-color: #25b7d3;
    color: #fff;
    float: right;
}

.big-letters {
    margin: auto;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 12px;
    text-align: center;
    color: #ff4081;
}

.title-result {
    text-align: center;
    color: #171717;
    font-weight: 100;
    font-size: 25px;
}