// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$algorithms-primary: mat-palette($mat-indigo);
$algorithms-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$algorithms-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$algorithms-theme: mat-light-theme($algorithms-primary, $algorithms-accent, $algorithms-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($algorithms-theme);
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$algorithms-primary: mat-palette($mat-indigo);
$algorithms-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$algorithms-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$algorithms-theme: mat-light-theme($algorithms-primary, $algorithms-accent, $algorithms-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($algorithms-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title {
    color: #676767;
    font-size: 40px;
    font-weight: 400;
}

.text-center {
    text-align: center !important;
}

.primary {
    color: #fff;
    background-color: #3f51b5;
}

.row {
    display: flex !important;
    display: -webkit-box;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}